.LoginMain {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.LoginMain .LoginTitle {
    color: #ffa30fff;
    font-size: 3.5rem;
    font-weight: 500;

    margin-top: 2rem;
}

.LoginMain .LoginSubTitle {
    color: #2a2B35FF;
    font-size: 3.5rem;
    font-weight: 500;

    margin-bottom: 2rem;
}

.LoginMain form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 30rem;
}

.LoginMain form label {
    width: 80%;

    font-size: 1.5rem;
    font-weight: 200;

    margin-top: 2rem;
}

.LoginMain form input {
    width: 90%;
    height: 2rem;

    border: 0;
    border-bottom: 1px solid #505050;
}

.LoginMain form a {
    align-self: flex-start;

    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;

    color: #ffa30fff;
    font-size: 1.6rem;
    font-weight: 800;
    text-decoration: none;

}

.LoginMain form a:hover {
    cursor: pointer;
}

.LoginMain form button {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;

    background-color: #ffa30fff;

    border: 0;
    border-radius: 10rem;

    width: 65%;
    height: 4.5rem;

    margin-bottom: 3rem;

    transition: 0.3s;
}

.LoginMain form button:hover {
    opacity: 0.85;
    cursor: pointer;
}

.LoginMain form .CancelBT {
    background-color: #ffffff;

    border: 3px solid #ffa30fff;

    margin-bottom: 4rem;
}

.LoginMain form .CancelBT:hover {
    opacity: 0.85;
    cursor: pointer;
}

.LoginMain form .CancelBT a {
    margin: 0;

    font-weight: 700;
}

