.SignUpMain {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.SignUpMain .SignUpTitle {
    color: #ffa30fff;
    font-size: 3.5rem;
    font-weight: 500;

    margin-top: 2rem;
}

.SignUpMain .SignUpSubTitle {
    color: #2a2B35FF;
    font-size: 3.2rem;
    font-weight: 500;

    margin-bottom: 2rem;

    width: 35rem;
}

.SignUpMain form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 30rem;
}

.SignUpMain form label {
    width: 80%;

    font-size: 1.5rem;
    font-weight: 200;

    margin-top: 2rem;
}

.SignUpMain form input {
    width: 90%;
    height: 2rem;

    border: 0;
    border-bottom: 1px solid #505050;
}

.SignUpMain form button {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;

    background-color: #ffa30fff;

    border: 0;
    border-radius: 10rem;

    width: 65%;
    height: 4.5rem;

    margin-top: 4rem;
    margin-bottom: 3rem;

    transition: 0.3s;
}

.SignUpMain form button:hover {
    opacity: 0.85;
    cursor: pointer;
}